:root {
  font-size: 16px;
  --font-dark: rgba(0, 0, 0, 0.75);

  --searchbox-width: 60vh;
  --min-searchbox-width: 36rem;

  --databox-width: 45vh;
  --min-databox-width: 27rem;

  --app-container-height: 60vh;
  --min-app-container-height: 36rem;

  --app-container-width: 105vh;
  --min-app-container-width: 63rem;

  --app-container-padding: max(1.75rem, 2.5vh);
  --searchbox-text-color: rgba(255, 255, 255, 0.9);
  --searchbox-input-text-color: rgba(0, 0, 0, 0.5);
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../../assets/background-01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
}

.app-window {
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(50px);

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: row;
  border-radius: 30px;

  background-color: white;
  width: var(--app-container-width);
  height: var(--app-container-height);
  min-height: var(--min-app-container-height);
  min-width: var(--min-app-container-width);

  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
}

.hidden {
  display: none;
}
