.app-wrapper-databox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: var(--min-databox-width);
  width: var(--databox-width);

  padding: var(--app-container-padding);
}

.app-wrapper-databox > * {
  color: var(--font-dark);
}

.databox-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0 1rem 0;
}

.databox-title {
  font-size: max(2rem, 4vh);
}

.databox-title-time {
  font-size: max(1rem, 2vh);
  margin-left: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.databox-general-wrapper,
.databox-future-wrapper {
  border-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
  padding: var(--app-container-padding);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  min-height: 17.5vh;
}

.databox-content-decorator {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: max(3px, 0.3vh);
  height: 100%;
  margin: 0 1rem;
}

.databox-content-general,
.databox-content-detailed {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.databox-content-general {
  width: fit-content;
  min-width: 45%;
}

.databox-temp {
  font-size: max(1.75rem, 3.5vh);
  font-weight: bold;
}

.databox-weather-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.databox-weather-title {
  margin: 0.5vh 0.5rem 0.5vh 0;
  font-size: max(1.3rem, 3vh);
}

#databox-weather-icon {
  height: max(35px, 5vh);
}

.databox-current-date {
  font-size: max(0.8rem, 1.5vh);
}

.databox-content-detailed {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.databox-content-detailed > p {
  font-size: max(0.8rem, 1.45vh);
  color: rgba(0, 0, 0, 0.5);
  min-width: 50%;
}

.databox-content-detailed > p > span {
  margin-left: 0.3rem;
}

.databox-future-title {
  font-size: max(1.2rem, 2.5vh);
  margin: 1.5rem 0 1rem 0;
}

.databox-future-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: max(10rem, 20vh);
}

.databox-future-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  min-width: 100%;
}

.future-element-date {
  font-size: max(0.85rem, 1.2vh);
  min-width: 35%;
}

.future-element-temp {
  font-weight: bolder;
  min-width: 27.5%;
}

.future-element-temp,
.future-element-weather {
  font-size: max(1rem, 1.5vh);
}

#future-element-icon {
  height: max(28px, 2.5vh);
  margin-left: 0.75rem;
}

.future-element-weather-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1024px) {
  .app-wrapper-databox {
    width: var(--databox-medium-screen-width);
  }

  .databox-general-wrapper {
    min-height: 1;
  }

  .databox-content-detailed > p {
    font-size: 1.3rem;
  }

  .future-element-date {
    font-size: 1.1rem;
  }

  .future-element-temp {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .app-wrapper-databox {
    min-width: var(--databox-small-screen-width);
    width: var(--databox-small-screen-width);
    padding: 5vw;
  }

  .databox-title {
    font-size: 1.8rem;
  }

  .databox-title-time {
    font-size: 1.25rem;
    font-weight: bolder;
  }

  .databox-general-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .databox-content-general {
    align-items: center;
    width: 100%;
  }

  .databox-temp {
    font-size: 3rem;
  }

  .databox-weather-title {
    font-size: 2.4rem;
  }

  #databox-weather-icon {
    height: 70px;
  }

  .databox-current-date {
    font-size: 1.25rem;
  }

  .databox-content-detailed > p {
    font-size: 1.35rem;
    margin-left: 0.5rem;
  }

  .future-element-weather {
    display: none;
  }

  .databox-future-element {
    justify-content: space-between;
  }

  #future-element-icon {
    height: 55px;
  }
}
