.app-wrapper-searchbox {
  position: relative;
  background-image: url('../../assets/background-01.jpg');
  background-size: cover;

  width: var(--searchbox-width);
  min-width: var(--min-searchbox-width);
  min-height: 100%;
  border-radius: 30px;
  padding: var(--app-container-padding);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchbox-header {
  position: absolute;
  top: var(--app-container-padding);
  left: var(--app-container-padding);
  min-width: 90%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.app-title {
  color: var(--searchbox-text-color);
  text-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.75);
  font-size: max(1.25rem, 2.75vh);
  margin-left: max(0.5rem, 1.5vh);
}

.searchbox-location-wrapper {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0.35rem 0.85rem;
  border-radius: 15px;
}

#location-icon {
  height: 2.5vh;
  min-height: 1rem;
  margin-right: 0.5rem;
}

.location-title {
  color: var(--searchbox-text-color);

  font-size: max(0.6rem, 1.25vh);
  font-weight: bold;
}

.current-location {
  color: var(--searchbox-text-color);
  font-size: max(1rem, 2vh);
}

.searchbox-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchbox-content-description {
  color: var(--searchbox-text-color);
  text-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.75);
  font-size: max(1.25rem, 2.5vh);
}

.searchbox-content-decorator {
  width: 5rem;
  height: max(2px, 0.4vh);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.75);

  margin: 0.75rem 0;
}

.searchbox-searching-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbox-searching-bar {
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.25rem 0.5rem;
  width: max(15rem, 30vh);

  font-size: max(1.25rem, 2.5vh);
  color: var(--searchbox-input-text-color);
}

.searchbox-searching-bar::placeholder {
  color: var(--searchbox-input-text-color);
  font-size: 1.2rem;
}
