@media (max-width: 1024px) {
  .app-wrapper-searchbox {
    width: var(--searchbox-medium-screen-width);
    min-width: var(--searchbox-medium-screen-width);
    height: var(--searchbox-medium-screen-height);
  }

  .app-title {
    font-size: 2.25rem;
    margin-left: 0;
  }

  #location-icon {
    height: 2rem;
  }

  .location-title {
    font-size: 1rem;
  }

  .current-location {
    font-size: 1.6rem;
  }

  .searchbox-content-description {
    font-size: 1.75rem;
  }

  .searchbox-content-decorator {
    height: 3px;
    margin: 1rem 0;
  }

  .searchbox-searching-bar {
    width: 22.5rem;
  }

  .searchbox-searching-bar::placeholder {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .app-wrapper-searchbox {
    width: var(--searchbox-small-screen-width);
    min-width: var(--searchbox-small-screen-width);
    height: var(--searchbox-small-screen-height);
  }

  .searchbox-header {
    flex-direction: column;
    align-items: flex-end;
    left: 0;
    margin: 0 1rem;
  }

  .app-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .searchbox-location-wrapper {
    width: 100%;
    justify-content: flex-start;
  }

  #location-icon {
    height: 2rem;
  }

  .location-title {
    font-size: 0.85rem;
  }

  .current-location {
    font-size: 1.4rem;
  }

  .searchbox-content-wrapper {
    width: 70vw;
    margin-top: 6rem;
  }

  .searchbox-content-description {
    text-align: center;
    font-size: 1.3rem;
  }

  .searchbox-content-decorator {
    height: 2px;
  }

  .searchbox-searching-bar {
    width: 100%;
    font-size: 1.75rem;
  }

  .searchbox-searching-bar::placeholder {
    font-size: 1.75rem;
  }
}
