@import '../utilities/_base.css';

.spinner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: inline-block;
  border-top: 5px solid var(--highlighted);
  border-right: 5px solid rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-bottom: 1rem;
}

.spinner-text {
  font-size: max(1.2rem, 2.4vh);
  color: rgba(255, 255, 255, 0.7);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
